<div class="dropdown per-page">
	<button class="btn dropdown-toggle" type="button" id="per-page-{{ classname|replace({'_': '-'}) }}" data-bs-toggle="dropdown" aria-expanded="false">
		{{ options.per_page }}
	</button>
	<ul class="dropdown-menu" aria-labelledby="per-page-{{ classname|replace({'_': '-'}) }}">
		{% for per_page_link in per_page_links %}
			<li>
				<a class="dropdown-item{% if per_page_link.per_page == options.per_page %} disabled{% endif %}" href="{{ per_page_link.url }}">
					{{ per_page_link.per_page }}
				</a>
			</li>
		{% endfor %}
	</ul>
</div>
